* {
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
}

/***************************************************************/
/*                          HEADER                             */
/***************************************************************/

header {
    padding: 20px 0;
}

    header img {
    }

    header ul {
        margin-top: 20px;
        float: right;
    }

    header li {
        display: inline-block;
        padding: 0 10px;
    }

    header i {
        display: block !important;
        text-align: center;
        font-size: 1.55rem !important;
        color: #004659;
}

    header a {
        display: block;
        text-transform: uppercase;
        font: 700 0.9rem "Ubuntu", Arial, Helvetica, sans-serif;
        color: #004659;
        text-decoration: none;
}

#booking {
    padding: 20px 0;
    background: #00baec;
}

    #booking h1 {
        font: italic 400 1rem/2rem "Ubuntu", Arial, Helvetica, sans-serif;
        color: #004659;
        text-transform: uppercase;
        padding-left: 40px;
    }

    #booking form {
        display: inline-block;
        float: right;

    }

    #booking label {
        font: italic 700 0.75rem "Ubuntu", Arial, Helvetica, sans-serif;
        color: #004659;
        text-transform: uppercase;
        padding-right: 10px;
    }

    #booking input[type="text"] {
        width: 150px;
        height: 20px;
    }

    #booking input[type="submit"] {
        font-family: "FontAwesome";
        font-size: 1.2rem !important;
        background: transparent;
        cursor: pointer;
        padding: 5px;
        color: #004659;
    }

    #slider {
        width: 100%;
        overflow: hidden;
    }

    #slider img {
        display: none;
    }

    #slider a {
        padding: 10px;
    }